#display{
  height: 310px;
  width:310px;
  display: inline-block;
  float: right;
}
  #container{
    display: inline-block;
    float:right;
    margin:300px;
  }
  #column1,#column2,#column3{
    display: inline;
    float: left;
  }
  .border{
    height:100px;
    width:100px;
    border: 5px Pink;
    border-style: solid;
  }

  #large{
    height: 300px;
    width:300px;
    border: 5px Pink;
    border-style: solid;
    vertical-align: center;
    float: right;

  }
