 .main {
    margin-left: 140px;  Same width as the sidebar + left position in px
    font-size: 28px;   Increased text to enable scrolling
    padding: 0px 10px;
    font-size: 45px;
 }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 400px;}
    .sidenav a {font-size: 18px;}
}
body {margin:0}

.icon-bar {
    width: 90px;
    top: 31%;
    background-color: #832;
    position: fixed;
}
.icon-bar i {
  font-size: 20px;
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 6px;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #832;
}
.st0{fill:white;}
